<nav class="navbar navbar-dark bg-primary">
    <div class="container-md">
        <a class="navbar-brand" href="/">Daffodil Chatbot</a>
<!--        <a class="btn btn-light" id="image-button" type="button" href="/image">Image Generator</a>-->
         <div class="btn-group">
            <button type="button" class="btn btn-light btn-outline-success dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
            Change Chatbot
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Daffodil Chat</a></li>
                <li><a class="dropdown-item" href="/image">Image Generator</a></li>
            </ul>
        </div>
    </div>

    <style>
        .bg-primary {
            background-color: #45DF9D!important;
        }
        .navbar-dark .navbar-brand {
            color: black;
            font-size: 50px;
            font-weight: 200;
        }
        .btn-light:hover {
            background-color: black;
        }

        .btn btn-outline-primary {
            color: #0d6efd;
            border-color: #0d6efd;
            background-color: #45DF9D;
        }

        .btn-outline-success {
            /*color: black;*/
            /*border-color: black;*/
        }
        /*a:hover {*/
        /*    background-color: black;*/
        /*    !*font-family: poppins;*!*/
        /*}*/
    </style>
</nav>